.App {
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 0.5em;
  font-size: 13px;
  display: flex;
  height: 80vh;
  flex-direction: column;
  margin: 0 auto;
  width: 750px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.App .MessageList {
  box-sizing: border-box;
  flex: 1;
}

.App .MessageForm {
  background: #eee;
  border-top: 1px solid #ccc;
  border-radius: 0 0 3px 3px;
  box-sizing: border-box;
  flex: 0 0 30px;
}
