.send-image {
  width: 20px;
  height: 30px;
  display: flex;
  margin: auto;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.chat-message {
  padding: 30px;
  background: #f2f5f8;
}

.chat-message textarea {
  width: 100vmin;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}

.chat-message button {
  float: right;
  color: #94c2ed;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #f2f5f8;
  background: white;
  padding: 10px;
  border: 20px;
}
.button:hover {
  color: darken(#94c2ed, 7%);
}

.image-msg .image-call {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
