.Message {
  line-height: 2em;
  margin: 0 10px 0 0;
}

.Message.log {
  border-radius: 20px;
  background: #6dbdf1;
  padding: 10px;
  width: auto;
  max-width: 50%;
  float: left;
  clear: left;
  color: white;
  margin: 10px 0 0 0;
}

.Message .author {
  font-weight: bold;
  color: #888;
  /* margin: 0 10px 0 0; */
}

.Message.me .author {
  border-radius: 20px;
  background: #096eb1;
  padding: 10px;
  width: auto;
  max-width: 50%;
  float: right;
  clear: left;
  color: white;
  margin: 10px 0 0 0;
}

.Message.info {
  color: yellowgreen;
  font-weight: bold;
}
